/lhpialt_smooth.vtk
/bash.sh
/fa_flip.nii.gz
/rhpialt.vtk
/affine.txt
/gyri_fanning.fib
/gyri_fanning_c.trk
/fa.nii.gz
/lh.pialt_xform
/log.txt
/lhpialt_lin.vtk
/gyri_fanning.tck
/lhpialt.vtk
/gyri_fanning.trk
