/aparc.annot.a2009s.ctab
/aparc.annot.ctab
/aparc.annot.DKTatlas.ctab
/BA_exvivo.ctab
/BA_exvivo.thresh.ctab
/lh.aparc.a2009s.annot
/lh.aparc.annot
/lh.aparc.DKTatlas.annot
/lh.BA1_exvivo.label
/lh.BA1_exvivo.thresh.label
/lh.BA2_exvivo.label
/lh.BA2_exvivo.thresh.label
/lh.BA3a_exvivo.label
/lh.BA3a_exvivo.thresh.label
/lh.BA3b_exvivo.label
/lh.BA3b_exvivo.thresh.label
/lh.BA44_exvivo.label
/lh.BA44_exvivo.thresh.label
/lh.BA45_exvivo.label
/lh.BA45_exvivo.thresh.label
/lh.BA4a_exvivo.label
/lh.BA4a_exvivo.thresh.label
/lh.BA4p_exvivo.label
/lh.BA4p_exvivo.thresh.label
/lh.BA6_exvivo.label
/lh.BA6_exvivo.thresh.label
/lh.BA_exvivo.annot
/lh.BA_exvivo.thresh.annot
/lh.cortex.label
/lh.entorhinal_exvivo.label
/lh.entorhinal_exvivo.thresh.label
/lh.MT_exvivo.label
/lh.MT_exvivo.thresh.label
/lh.perirhinal_exvivo.label
/lh.perirhinal_exvivo.thresh.label
/lh.V1_exvivo.label
/lh.V1_exvivo.thresh.label
/lh.V2_exvivo.label
/lh.V2_exvivo.thresh.label
/rh.aparc.a2009s.annot
/rh.aparc.annot
/rh.aparc.DKTatlas.annot
/rh.BA1_exvivo.label
/rh.BA1_exvivo.thresh.label
/rh.BA2_exvivo.label
/rh.BA2_exvivo.thresh.label
/rh.BA3a_exvivo.label
/rh.BA3a_exvivo.thresh.label
/rh.BA3b_exvivo.label
/rh.BA3b_exvivo.thresh.label
/rh.BA44_exvivo.label
/rh.BA44_exvivo.thresh.label
/rh.BA45_exvivo.label
/rh.BA45_exvivo.thresh.label
/rh.BA4a_exvivo.label
/rh.BA4a_exvivo.thresh.label
/rh.BA4p_exvivo.label
/rh.BA4p_exvivo.thresh.label
/rh.BA6_exvivo.label
/rh.BA6_exvivo.thresh.label
/rh.BA_exvivo.annot
/rh.BA_exvivo.thresh.annot
/rh.cortex.label
/rh.entorhinal_exvivo.label
/rh.entorhinal_exvivo.thresh.label
/rh.MT_exvivo.label
/rh.MT_exvivo.thresh.label
/rh.perirhinal_exvivo.label
/rh.perirhinal_exvivo.thresh.label
/rh.V1_exvivo.thresh.label
/rh.V2_exvivo.label
/rh.V2_exvivo.thresh.label
/rh.V1_exvivo.label
