/echo-1_acq-pos_ihmt.nii.gz
/echo-2_acq-neg_ihmt.json
/echo-3_acq-mtoff_ihmt.json
/echo-3_acq-pos_ihmt.nii.gz
/echo-1_acq-neg_ihmt.json
/echo-3_acq-altpn_ihmt.json
/echo-1_acq-mtoff_ihmt.nii.gz
/echo-1_acq-pos_ihmt.json
/echo-1_acq-T1w_ihmt.json
/echo-2_acq-altnp_ihmt.nii.gz
/echo-1_acq-altnp_ihmt.nii.gz
/echo-3_acq-altpn_ihmt.nii.gz
/echo-2_acq-altpn_ihmt.nii.gz
/echo-3_acq-altnp_ihmt.nii.gz
/echo-2_acq-pos_ihmt.json
/echo-3_acq-T1w_ihmt.json
/echo-1_acq-mtoff_ihmt.json
/echo-2_acq-T1w_ihmt.nii.gz
/echo-2_acq-mtoff_ihmt.nii.gz
/echo-3_acq-mtoff_ihmt.nii.gz
/echo-3_acq-altnp_ihmt.json
/echo-2_acq-pos_ihmt.nii.gz
/echo-1_acq-altnp_ihmt.json
/echo-3_acq-neg_ihmt.json
/B1map.json
/echo-2_acq-mtoff_ihmt.json
/echo-3_acq-pos_ihmt.json
/B1map.nii.gz
/mask_resample.nii.gz
/echo-3_acq-T1w_ihmt.nii.gz
/echo-1_acq-neg_ihmt.nii.gz
/echo-1_acq-altpn_ihmt.json
/echo-1_acq-altpn_ihmt.nii.gz
/echo-2_acq-T1w_ihmt.json
/echo-1_acq-T1w_ihmt.nii.gz
/echo-2_acq-altpn_ihmt.json
/echo-3_acq-neg_ihmt.nii.gz
/echo-2_acq-altnp_ihmt.json
/echo-2_acq-neg_ihmt.nii.gz
