/IFGWM.nii.gz
/length_stats_1.json
/length_stats.xlsx
/bash.sh
/IFGWM.trk
/head.nii.gz
/metric_label.json
/IFGWM_labels_map.nii.gz
/length_stats_2.json
/IFGWM_color.trk
/label.npz
/distance.npz
/mni_masked.nii.gz
/IFGWM_uni_c.trk
/tail.nii.gz
/IFGWM_uni.trk
/IFGWM_uni_c_10.trk
