/aparc.a2009s+aseg.nii.gz
/aparc+aseg.nii.gz
/aparc.DKTatlas+aseg.nii.gz
/aseg.auto.nii.gz
/aseg.auto_noCCseg.nii.gz
/aseg.nii.gz
/aseg.presurf.hypos.nii.gz
/aseg.presurf.nii.gz
/brain.finalsurfs.nii.gz
/brainmask.auto.nii.gz
/brainmask.nii.gz
/brain.nii.gz
/ctrl_pts.nii.gz
/filled.nii.gz
/lh.ribbon.nii.gz
/norm.nii.gz
/nu.nii.gz
/orig.nii.gz
/orig_nu.nii.gz
/rawavg.nii.gz
/rh.ribbon.nii.gz
/ribbon.nii.gz
/T1.nii.gz
/wm.asegedit.nii.gz
/wm.nii.gz
/wmparc.nii.gz
/wm.seg.nii.gz
