/sc_norm_vol.npy
/success.txt
/bash.sh
/sc_norm.png
/decompose_afd_rd.h5
/sc_masked.npy
/mask.npy
/afd_max.npy
/endpoints_atlas.nii.gz
/affine.txt
/afd_max.nii.gz
/sc_normalize.npy
/sim.npy
/labels_list.txt
/reorder.txt
/sc_add_10.npy
/sc_thr.npy
/len.npy
/vol.npy
/sc.npy
/fodf.nii.gz
/gtm.json
/pval.npy
/sc_lower_threshold.npy
/bundle_all_1mm.trk
/sc_norm.npy
/sc_reo_fake.npy
/decompose.h5
