/bundle_4_wm.nii.gz
/bundle_4.tck
/bundle_4_cut_endpoints.tck
/bundle_4_cut_center.tck
/bundle_4_endpoints_5points.nii.gz
/bundle_4_endpoints_1point.nii.gz
/bundle_4_head_tail.nii.gz
/bundle_4_head_tail_offset.nii.gz
/bundle_4_center.nii.gz
