/result_real_dwi_real_rev_dwi.json
/result_real_dwi_real_rev_dwi_sbref.json
/result_complex_dwi_complex_rev_dwi_sbref.json
/result_real_dwi_epi.json
/result_real_dwi_real_sbref.json
/result_complex_dwi_complex_sbref.json
/result_complex_dwi_epi.json
/result_complex_dwi_complex_rev_dwi.json
