/map_include_corr.nii.gz
/seeding_mask.nii.gz
/union.trk
/peaks.nii.gz
/interface.nii.gz
/bash.sh
/local_split_2.trk
/map_csf.nii.gz
/map_gm.nii.gz
/local_split_1.trk
/local_split_0.trk
/map_exclude.nii.gz
/fa.nii.gz
/local.trk
/map_exclude_corr.nii.gz
/union_shuffle_sub_smooth.trk
/fodf.nii.gz
/map_include.nii.gz
/union_shuffle.trk
/pft.trk
/map_wm.nii.gz
/union_shuffle_sub.trk
