/sub-001_echo-4_acq-t1w_mtsat.json
/sub-001_echo-4_acq-mton_mtsat.json
/sub-001_echo-2_acq-mtoff_mtsat.nii.gz
/sub-001_echo-1_acq-mton_mtsat.nii.gz
/sub-001_echo-2_acq-mton_mtsat.json
/sub-001_echo-5_acq-t1w_mtsat.json
/sub-001_echo-4_acq-t1w_mtsat.nii.gz
/sub-001_echo-1_acq-t1w_mtsat.json
/sub-001_echo-3_acq-mtoff_mtsat.nii.gz
/sub-001_echo-5_acq-mtoff_mtsat.json
/sub-001_echo-1_acq-mton_mtsat.json
/sub-001_echo-3_acq-t1w_mtsat.json
/sub-001_echo-3_acq-mtoff_mtsat.json
/sub-001_echo-3_acq-t1w_mtsat.nii.gz
/sub-001_echo-2_acq-mtoff_mtsat.json
/sub-001_echo-2_acq-t1w_mtsat.nii.gz
/sub-001_echo-5_acq-mton_mtsat.json
/sub-001_echo-5_acq-mton_mtsat.nii.gz
/sub-001_echo-1_acq-mtoff_mtsat.nii.gz
/sub-001_run-01_B1map.nii.gz
/sub-001_echo-4_acq-mtoff_mtsat.nii.gz
/sub-001_echo-5_acq-mtoff_mtsat.nii.gz
/sub-001_echo-2_acq-t1w_mtsat.json
/sub-001_echo-5_acq-t1w_mtsat.nii.gz
/sub-001_run-01_B1map.json
/sub-001_echo-3_acq-mton_mtsat.json
/sub-001_echo-4_acq-mtoff_mtsat.json
/sub-001_echo-2_acq-mton_mtsat.nii.gz
/sub-001_echo-1_acq-t1w_mtsat.nii.gz
/mask.nii.gz
/sub-001_echo-1_acq-mtoff_mtsat.json
/sub-001_echo-3_acq-mton_mtsat.nii.gz
/sub-001_echo-4_acq-mton_mtsat.nii.gz
