/right_lateral_occipital.nii.gz
/left_insula.nii.gz
/right_corpus_callosum.nii.gz
/left_pericalcarine.nii.gz
/right_supra_marginal.nii.gz
/left_putamen.nii.gz
/right_posteriorcingulate.nii.gz
/left_accumbens_area.nii.gz
/midbrain.nii.gz
/left_caudal_middle_fontral.nii.gz
/left_corpus_callosum.nii.gz
/left_parstriangularis.nii.gz
/left_pallidum.nii.gz
/left_parsopercularis.nii.gz
/right_fusiform.nii.gz
/right_superior_temporal.nii.gz
/left_lateral_occipital.nii.gz
/right_banks_superior_temporal.nii.gz
/right_putamen.nii.gz
/right_inferior_temporal.nii.gz
/right_temporal_pole.nii.gz
/left_rostral_middle_frontal.nii.gz
/left_ventraldc.nii.gz
/left_inferior_parietal.nii.gz
/left_parahipocampal.nii.gz
/left_frontal_pole.nii.gz
/right_hippocampus.nii.gz
/left_amygdala.nii.gz
/left_postcentral.nii.gz
/left_precuneus.nii.gz
/left_lingual.nii.gz
/right_parsorbitalis.nii.gz
/right_superior_frontral.nii.gz
/right_precentral.nii.gz
/right_amygdala.nii.gz
/right_caudal_middle_fontral.nii.gz
/left_transverse_temporal.nii.gz
/right_thalamus_proper.nii.gz
/right_insula.nii.gz
/left_temporal_pole.nii.gz
/right_parsopercularis.nii.gz
/right_lingual.nii.gz
/left_superior_temporal.nii.gz
/left_parsorbitalis.nii.gz
/left_caudate.nii.gz
/left_laterral_orbitofrontal.nii.gz
/right_rostral_middle_frontal.nii.gz
/right_isthmus_cingulate.nii.gz
/left_precentral.nii.gz
/left_rostral_anterior_cingulate.nii.gz
/right_caudal_anterior_cingulate.nii.gz
/right_medial_orbitofrontal.nii.gz
/left_entorhinal.nii.gz
/right_pallidum.nii.gz
/right_cuneus.nii.gz
/left_caudal_anterior_cingulate.nii.gz
/left_cerebellum_cortex.nii.gz
/right_cerebellum_cortex.nii.gz
/right_paracentral.nii.gz
/right_postcentral.nii.gz
/right_entorhinal.nii.gz
/right_parstriangularis.nii.gz
/pons.nii.gz
/right_inferior_parietal.nii.gz
/right_ventraldc.nii.gz
/left_superior_parietal.nii.gz
/left_isthmus_cingulate.nii.gz
/right_parahipocampal.nii.gz
/left_inferior_temporal.nii.gz
/left_supra_marginal.nii.gz
/right_accumbens_area.nii.gz
/right_laterral_orbitofrontal.nii.gz
/right_superior_parietal.nii.gz
/left_middle_temporal.nii.gz
/right_caudate.nii.gz
/left_thalamus_proper.nii.gz
/left_paracentral.nii.gz
/left_cuneus.nii.gz
/left_superior_frontral.nii.gz
/left_fusiform.nii.gz
/left_medial_orbitofrontal.nii.gz
/right_frontal_pole.nii.gz
/left_banks_superior_temporal.nii.gz
/left_hippocampus.nii.gz
/right_rostral_anterior_cingulate.nii.gz
/right_transverse_temporal.nii.gz
/right_middle_temporal.nii.gz
/oblongata.nii.gz
/right_pericalcarine.nii.gz
/left_posteriorcingulate.nii.gz
/right_precuneus.nii.gz
