/1000.b
/small_roi_gm_mask.nii.gz
/dwi_crop_n4.nii.gz
/fa_thr.nii.gz
/fodf_descoteaux07.nii.gz
/b0_mean_n4.nii.gz
/frf.txt
/1000_flip.b
/nufo.nii.gz
/peaks.nii.gz
/fodf_bingham.nii.gz
/dwi_SNR.json
/dki_ad.nii.gz
/tracking.trk
/sh.nii.gz
/mfrf.txt
/dwi.nii.gz
/sh_1000.nii.gz
/dwi_crop.nii.gz
/dwi_crop_3000.nii.gz
/ad.nii.gz
/fodf_descoteaux07_sub_full.nii.gz
/fd.nii.gz
/bias_field_b0.nii.gz
/fodf_descoteaux07_sub.nii.gz
/fa_low.nii.gz
/dwi_noise_mask.nii.gz
/afd_max.nii.gz
/dki_md.nii.gz
/fa.nii.gz
/sh_3000.nii.gz
/cc.nii.gz
/3000.bvec
/dwi_crop_1000.nii.gz
/dki_fa.nii.gz
/dki_rd.nii.gz
/dwi.bvec
/diff.nii.gz
/3000.bval
/afd_sum.nii.gz
/afd_tot.nii.gz
/1000.bvec
/ad_ransanc.nii.gz
/afd_test.nii.gz
/seed.nii.gz
/md.nii.gz
/dwi.bval
/b0_mean.nii.gz
/dwi_graph.png
/fodf.nii.gz
/rd_test.nii.gz
/rd.nii.gz
/1000.bval
/nfrf.txt
/mni_masked_2x2x2.nii.gz
