/coronal_3d.png
/bash.sh
/bundle_0_measures.json
/sagittal_3d.png
/transformation_rigid.txt
/coronal_glass.png
/bundle_all_1mm_ic.trk
/affine.txt
/sagittal_glass.png
/bundle_0_reco.tck
/bundle_all_1mm.nii.gz
/clusters.pkl
/axial_glass.png
/bundle_0_binary.json
/axial_3d.png
/bundle_all_1mm.trk
/bundle_0_similarity.json
