/atlas_freesurfer_v2_LUT.json
/density.nii.gz
/bash.sh
/fibercup_bundle_0.trk
/encoding.b
/fibercup_bundle_0_color.trk
/IFGWM.trk
/fa_resample.nii.gz
/fibercup_bundles.trk
/IFGWM_sub.trk
/t1.nii.gz
/fa.nii.gz
/t1_reshape.nii.gz
/fibercup_bundles_color.trk
/atlas_freesurfer_v2.nii.gz
/t1_crop_denoised.nii.gz
/t1_crop.nii.gz
/t1_resample.nii.gz
/rgb_.nii.gz
/empty.trk
/rgb.nii.gz
