/diffusion.zip
/freesurfer.zip
/intermediary.zip
/raw.zip
/segmentation.zip
/tractogram.zip
/raw_b0.zip
/raw_DWIms1000-2000-dir32-60.zip
/raw_DWIms300-1000-2000-dir8-32-60.zip
/raw_DWIms300-1000-dir8-32.zip
/raw_DWIss1000-dir32.zip
/raw_DWIss2000-dir60.zip
/raw_DWIss300-dir8.zip
/raw_EPI.zip
/raw_FLAIR.zip
/raw_T1w.zip
/topup_results.zip
/DWIms1000-2000-dir32-60.zip
/DWIms300-1000-2000-dir8-32-60.zip
/DWIms300-1000-dir8-32.zip
/DWIss1000-dir32.zip
/DWIss2000-dir60.zip
/DWIss300-dir8.zip
/T1w.zip
/b0.zip
/dti.zip
/fodf.zip
/responses.zip
/raw_segmentation.zip
/TOPUP.zip
/source_T1w.zip
/transform.zip
