/lh.area
/lh.area.mid
/lh.area.pial
/lh.avg_curv
/lh.curv
/lh.curv.pial
/lh.defect_borders
/lh.defect_chull
/lh.defect_labels
/lh.inflated
/lh.inflated.H
/lh.inflated.K
/lh.inflated.nofix
/lh.jacobian_white
/lh.orig
/lh.orig.nofix
/lh.pial
/lh.qsphere.nofix
/lh.smoothwm
/lh.smoothwm.BE.crv
/lh.smoothwm.C.crv
/lh.smoothwm.FI.crv
/lh.smoothwm.H.crv
/lh.smoothwm.K1.crv
/lh.smoothwm.K2.crv
/lh.smoothwm.K.crv
/lh.smoothwm.nofix
/lh.smoothwm.S.crv
/lh.sphere
/lh.sphere.reg
/lh.sulc
/lh.thickness
/lh.volume
/lh.w-g.pct.mgh
/lh.white
/lh.white.H
/lh.white.K
/lh.white.preaparc
/lh.white.preaparc.H
/lh.white.preaparc.K
/rh.area
/rh.area.mid
/rh.area.pial
/rh.avg_curv
/rh.curv
/rh.curv.pial
/rh.defect_borders
/rh.defect_chull
/rh.defect_labels
/rh.inflated
/rh.inflated.H
/rh.inflated.K
/rh.inflated.nofix
/rh.jacobian_white
/rh.orig
/rh.orig.nofix
/rh.pial
/rh.qsphere.nofix
/rh.smoothwm
/rh.smoothwm.BE.crv
/rh.smoothwm.C.crv
/rh.smoothwm.FI.crv
/rh.smoothwm.H.crv
/rh.smoothwm.K1.crv
/rh.smoothwm.K2.crv
/rh.smoothwm.K.crv
/rh.smoothwm.nofix
/rh.smoothwm.S.crv
/rh.sphere
/rh.sphere.reg
/rh.sulc
/rh.thickness
/rh.volume
/rh.w-g.pct.mgh
/rh.white
/rh.white.H
/rh.white.K
/rh.white.preaparc
/rh.white.preaparc.H
/rh.white.preaparc.K
