/aparc.a2009s+aseg.mgz
/aparc+aseg.mgz
/aparc.DKTatlas+aseg.mgz
/aseg.auto.mgz
/aseg.auto_noCCseg.label_intensities.txt
/aseg.auto_noCCseg.mgz
/aseg.mgz
/aseg.presurf.hypos.mgz
/aseg.presurf.mgz
/brain.finalsurfs.mgz
/brainmask.auto.mgz
/brainmask.mgz
/brain.mgz
/ctrl_pts.mgz
/filled.mgz
/lh.ribbon.mgz
/mri_nu_correct.mni.log
/mri_nu_correct.mni.log.bak
/norm.mgz
/nu.mgz
/orig.mgz
/orig_nu.mgz
/rawavg.mgz
/rh.ribbon.mgz
/ribbon.mgz
/segment.dat
/T1.mgz
/talairach.label_intensities.txt
/talairach.log
/talairach_with_skull.log
/wm.asegedit.mgz
/wm.mgz
/wmparc.mgz
/wm.seg.mgz
