/aseg.stats
/lh.aparc.a2009s.stats
/lh.aparc.DKTatlas.stats
/lh.aparc.pial.stats
/lh.aparc.stats
/lh.BA_exvivo.stats
/lh.BA_exvivo.thresh.stats
/lh.curv.stats
/lh.w-g.pct.stats
/rh.aparc.a2009s.stats
/rh.aparc.DKTatlas.stats
/rh.aparc.pial.stats
/rh.aparc.stats
/rh.BA_exvivo.stats
/rh.BA_exvivo.thresh.stats
/rh.curv.stats
/rh.w-g.pct.stats
/wmparc.stats
