/ad.nii.gz
/evals_e1.nii.gz
/evals_e2.nii.gz
/evals_e3.nii.gz
/evals.nii.gz
/evecs.nii.gz
/evecs_v1.nii.gz
/evecs_v2.nii.gz
/fa.nii.gz
/ga.nii.gz
/md.nii.gz
/rd.nii.gz
/rgb.nii.gz
/tensor.nii.gz
/evecs_v3.nii.gz
