/atlas_freesurfer_v2_LUT.json
/brainstem_173.nii.gz
/bash.sh
/atlas_freesurfer_v2_no_brainstem.nii.gz
/atlas_freesurfer_v2_single_brainstem_dil.nii.gz
/brainstem_174.nii.gz
/brainstem_175.nii.gz
/atlas_freesurfer_v2.nii.gz
/atlas_freesurfer_v2_labels_list.txt
/brainstem_bin.nii.gz
/brainstem.nii.gz
/atlas_freesurfer_v2_single_brainstem.nii.gz
