/build-stamp.txt
/lastcall.build-stamp.txt
/patchdir.txt
/pctsurfcon.log
/pctsurfcon.log.old
/ponscc.cut.log
/recon-all.cmd
/recon-all.done
/recon-all.env
/recon-all.local-copy
/recon-all.log
/recon-all-status.log
