/sub-1005_rd.npy
/sub-1108_rd.npy
/sub-1230_fa.npy
/sub-1230_ad.npy
/sub-2120_afd_total.npy
/sub-1005_nufo.npy
/sub-1230_nufo.npy
/sub-1108_nufo.npy
/sub-1108_md.npy
/sub-2120_afd_fixel.npy
/sub-2120_fa.npy
/sub-1108_ad.npy
/list_id.txt
/sub-1005_fa.npy
/sub-1005_md.npy
/sub-1108_fa.npy
/sub-1005_ad.npy
/sub-1108_afd_fixel.npy
/sub-1005_afd_fixel.npy
/sub-1005_afd_total.npy
/sub-1230_md.npy
/sub-1230_rd.npy
/sub-2120_md.npy
/sub-1230_afd_total.npy
/sub-1108_afd_total.npy
/sub-1230_afd_fixel.npy
/sub-2120_ad.npy
/sub-2120_nufo.npy
/sub-2120_rd.npy
