/mosaic.png
/bash.sh
/voting_voxels.nii.gz
/bundle_all_1mm_inliers.trk
/bundle_4.trk
/bundle_4_filtered_no_loops.trk
/bundle_all_1mm.nii.gz
/bundle_4_filtered.nii.gz
/centroids.trk
/voting_streamlines.trk
/bundle_4_filtered.trk
/mask.nii.gz
/sc.bdo
/bundle_all_1mm.trk
